.header {
  position: sticky;
  top: 0;
  z-index: 3;
  & .container {
    height: 50px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: $color-dark;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    line-height: 1.2;
    color: $color-grey-dark;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__btn {
    border: none;
    border-radius: 5px;
    color: $color-white;
    width: 170px;
    height: 30px;
    transition: all 0.2s;

    &--calc {
      background-color: $color-red;
      &:hover {
        background-color: $color-white;
        color: $color-red;
      }
    }

    &--line {
      background-color: $color-green;
      &:hover {
        background-color: $color-white;
        color: $color-green;
      }
    }
  }

  @include respond(tab-land) {
    &__title {
      font-size: 12px;
    }
    &__btn {
      font-size: 14px;
      width: 130px;
      height: 28px;
    }
  }
  @include respond(phone) {
    &__btn {
      font-size: 10px;
      width: 80px;
      height: 18px;
    }

    &__title {
      font-size: 10px;
    }

    & .container {
      height: 30px;
    }
  }
}
